#header {
  background-color: rgb(200,200,230);

}

#front img {
  position: absolute;
  top: 3px;
  left: 100px;
}

#version {
  font-size: 8px;
  font-weight: bold;
  border-top: 1px solid #666;
}
